.trail {
    position: absolute;
    font-family: 'Consolas', monospace;
    font-size: small;
    color: var(--secondary);
    z-index: -10;
    text-shadow: 0 0 5px var(--secondary);
    animation: trailAnimation 1.5s ease-out;
    -webkit-user-select: none;
    user-select: none;
}

@keyframes trailAnimation {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

.typing-effect {
    display: inline-block; /* Ensure the element doesn't take up the full width */
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide the text that is not yet revealed */
    border-right: 2px solid var(--primary); /* Create the cursor effect */
    opacity: 0;
    animation: blink 0.75s step-end infinite; /* Blinking cursor */
}

.typing-effect.typing { /* This class will be added on scroll */
    opacity: 1; 
    animation: typing 1s steps(var(--steps)) 0.5s 1 normal both, blink 0.75s step-end infinite; /* Typing and blinking cursor */
}

/* Keyframe for typing effect */
@keyframes typing {
    from {
        width: 0; /* Start with no text visible */
    }
    to {
        width: 100%; /* Reveal all text */
    }
}

/* Keyframe for blinking cursor */
@keyframes blink {
    50% {
        border-color: transparent; /* Blink effect by hiding the border */
    }
}